.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width:10px; 
	border-style:ridge;
    border-color: rgb(80, 255, 197);
    background-image:url(cat.jpg);
}

